<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">donism</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
			<li><a href="#"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>donism - the new religion</h1>
					<h2 class="subtitle">Nothing to believe in? Believe in Don. Sign up for more.</h2>
					<form role="form" action="/create" enctype="application/x-www-form-urlencoded" method="POST">

					  <div class="form-group">
					  	<label for="name">Your Name:</label>
					    <input type="name" class="form-control" id="name" placeholder="Full Name" name="name">
					    <label for="email">Your Email:</label>
					    <input type="email" class="form-control" id="email" placeholder="name@email.com" name="email">
					    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
					  </div>

					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>	
					</div>			
				</div>

			</div>
		</div>
	</div>
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright">2015 - donburi inc</p>
			</div>
		</div>		
	</div>	
	</div>





